/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: lemonchiffon;
  font-family: "Georgia", Monaco, monospace;
}

h1 {
  margin-top: 25px;
  text-align: center;
  font-size: 60px;
}

h2 {
  text-align: center;
}

.projectTitle {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
}

.userBar {
  text-align: left;
  font-size: 14px;
}

.subs {
  margin: 2px;
  border-collapse: collapse;
  width: 95%;
}

.completed {
  background-color: lightgreen;
}

.incompleted {
  background-color: red;
}


.subs td{
	padding:6px; border: rgba(0,0,0,1) 1px solid;
}

.subs tr:nth-child(odd){
	background: rgba(0,0,0,0);
}

.subs tr:nth-child(even){
	background: rgba(0,0,0,0.15);
}

.subs tr:hover {
  background-color: rgba(100, 255, 50, .9);
}

.sidebar {
  display: none;
  position: absolute;
  top: 90%; bottom: 0; left: 0; right: 0;
  width: 500px;
  background: rgba(255,250,205,.9);
  text-align: center;
  margin: 0 auto;
}

.controls {
  margin: 5px;
  text-align: center;
}
